In [1]:
import numpy as np 
import pandas as pd

In [4]:
#データの読み込み
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
gender_submission = pd.read_csv('gender_submission.csv')

In [5]:
gender_submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [3]:
data = pd.concat([train, test], sort=False)
data['Sex'].replace(['male', ' female'], [0,1], inplace=True)
data['Fare'].fillna(np.mean(data['Fare']), inplace=True)