<a href="https://colab.research.google.com/github/katsuya6152/Kaggle-Titanic/blob/master/week4%E5%AE%BF%E9%A1%8C_1103%E6%8F%90%E5%87%BA%E7%B7%A0%E5%88%87.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 問題文
以下のサイトにあるデータ（ワインの品質）が分析対象になります。

http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

このデータを読み込み、カラムの`total sulfur dioxide`について分位点でn個（nはデータ数を越えず、同一の値が分割位置に当たらない自然数）に分割し、それぞれのグループについてpHの平均値を算出してください。さらに、このn個のグループのそれぞれのpHの平均値の中で、1番小さい平均値と1番大きな平均値を足して、その合計値を返り値とするような関数を作成してください。

提出するときは、以下の点に注意してください。  
>- 以下の関数`homework`の`!!WRITE ME!!`に処理を書いてください。(**「`!!WRITE ME!!`」は消して、記入してください。**)
>- 実際の提出は記述された`homework`関数全てになり、**提出場所はOmnicampus右上にある青字のHomeworkドロップダウンメニューからSaveしてください。Solutionに関数を貼り付けてからSaveを押してください。**
>- 返り値が数値型になるようにしてください。
>- 関数は1つにまとめてください。

In [1]:
# common
import numpy as np
import pandas as pd
from pandas import DataFrame
# URL
url_winequality_data = "http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"

In [4]:
df = pd.read_csv(url_winequality_data, sep=';')

In [5]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [8]:
pd.qcut(df['total sulfur dioxide'], 2,labels=False)

0       0
1       1
2       1
3       1
4       0
       ..
1594    1
1595    1
1596    1
1597    1
1598    1
Name: total sulfur dioxide, Length: 1599, dtype: int64

In [10]:
# working place. everything 
def homework(url_winequality_data, n):
    df = pd.read_csv(url_winequality_data, sep=';')

    df['num'] = pd.qcut(df['total sulfur dioxide'], n)

    df['pH_mean'] = df.groupby(df['num'])['pH'].mean()

    my_result = df['pH_mean'].max() +  df['pH_mean'].min()

    return my_result

In [11]:
homework(url_winequality_data,5)

6.631530628339346